/* reset css */
body{
                  background-image:  linear-gradient(to left, #340136, #000);
                  max-width: 1200px;
}

* {
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                  font-family: 'Source Sans 3', sans-serif;
}

.descricao img {
                  height: 4%;
                  width: 4%;
                  align-items: in line;
}
.base {
                  display: inline-block;
}

.vinho img {
                  height: 25%;
                  width: 25%;
                  padding-left: 120px;
}

.ficha img{
                  height: 6%;
                  width: 6%;
                  padding-left: 12px;
                  flex-wrap: wrap;
                  padding: 10px;
}
.ficha-2 img{
                  height: 6%;
                  width: 6%;
                  padding-left: 12px;
                  flex-wrap: wrap;
                  padding: 10px;
}
                  