/* reset css */
body{
                  background-image:  linear-gradient(to right, #000, #000)
}

* {
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                  font-family: 'Source Sans 3', sans-serif;
}

.descricao img {
                  height: 3%;
                  width: 3%;
                  align-items: in line;
}
.base {
                  display: inline-block;
}

.vinho img {
                  height: 10%;
                  width: 15%;
                  padding-left: 120px;
}